.banner{
    background-color: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 500;
    padding: 2.5rem 2rem;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    margin: 1rem 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 1.5rem;
    color: var(--branco);
    padding: 0.7rem;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url("../Assets/Lupa.svg") no-repeat;
    background-position: 1rem;
}

@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 36px;
    }
    .banner__pesquisa{
        width: 50%;
    }
    .banner__pesquisa::placeholder{
        background-position: 5rem;
    }
}

@media screen and (min-width: 1728px){
    .banner__pesquisa{
        width: 35%;
        padding: 1rem 0;
    }

    .banner__pesquisa::placeholder{
        background-position: 9rem;
    }
}